<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>mylab-indexPage</title>
<link rel="stylesheet" href="../common/css/common.css">
<link rel="icon" href="../favicon.ico">
<body>
<section>
  <div class="l-contentsWrap -bgWhite">
    <h1 class="c-largeTitle">サンプルページ一覧</h1>
    <section>
      <h2 class="c-middleTitle">INDEX List</h2>
      <ul class="p-indexList">
        <li class="p-indexList_item"><a href="css_parts/">CSSパーツ</a></li>
        <li class="p-indexList_item"><a href="js-template/">JSひな形</a></li>
        <li class="p-indexList_item"><a href="flexbox/">flexbox</a></li>
        <li class="p-indexList_item"><a href="ajax/">Ajax</a></li>
        <li class="p-indexList_item"><a href="svg/">SVG</a></li>
        <li class="p-indexList_item"><a href="dnd/">Drag and Drop</a></li>
        <li class="p-indexList_item"><a href="file/">File API</a></li>
        <li class="p-indexList_item"><a href="localStorage/">localStorage</a></li>
        <li class="p-indexList_item"><a href="class/">Class</a></li>
        <li class="p-indexList_item"><a href="line-height/">line-heightの上下をけずる</a></li>
        <li class="p-indexList_item"><a href="rfp_maker/">要件定義ツール</a></li>
      </ul>
    </section>
  </div>
</section>
<script src="../common/js/jquery-3.2.1.js"></script>
</body>
</html>
